.about-us-section {
  height: 400px;
  background: #0078e8;
  font-family: Roboto;
  font-style: normal;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  overflow: hidden;
}

.about-us-section .title {
  text-align: left;
  color: #ffffff;
  font-size: 50px;
  line-height: 88px;
  padding-top: 130px;
  margin: 0px;
}

.about-us-section .info {
  text-align: left;
  color: #ffffff;
  font-size: 20px;
}