.our-team-section {
    background: #ffffff;
    font-family: Roboto;
    font-style: normal;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 60px;
    padding-bottom: 100px;
    overflow: hidden;
}

.our-values-section .title {
    text-align: left;
    color: #000000;
    font-size: 50px;
    line-height: 88px;
    margin: 0px;
}

.members {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}