.about {
  height: 553px;
  background: #f8f8f8;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-size: 25px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin: 30px;
  margin-left: 20px;
  /* identical to box height */

  /* text color */

  color: #333333;
}

.main-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #828282;
}
