.about {
  height: 75%;
  background: #f8f8f8;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;


  /* text color */

  color: #333333;
}

.main-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #828282;
  font-size: 30px;
}

.extra-text{
  font-size: 25px;
}

.about-link {
  color: #0078E8;
}
