.about {
  height: 100%;
  background: #f8f8f8;
  padding: 50px 200px 50px 200px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #333333;
}

.main-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #828282;
  font-size: 30px;
}

.extra-text{
  font-size: 25px;
}

.about-link {
  color: #0078E8;
}

@media only screen and (max-width: 850px) {
  .about {
    padding: 50px 100px 50px 100px;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 50px 50px 50px 50px;
  }
}
