.navbar {
  display: flex;
  position: absolute;
  color: white;
  flex-direction: row;
  justify-content: space-between;
}

.navbar img {
  width: 150px;
  height: 100%;
  position: relative;
  left: 50px;
  top: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  margin-left: 900px;
}

.links p {
  margin: 20px;
  color: #fff;
  font-family: Roboto,Helvetica,sans-serif;
  font-weight: 550;
}

.links p:hover {
  color: #BBC1C8;
  transform: translateY(-0.25rem);
}
