.project-section {
  background: #fff;
  padding: 50px 200px 50px 200px;
  overflow: hidden;
  transition: 200ms;
  position: relative;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 0 25px;
}

h1.title {
  margin-left: 0rem;
}

.MuiTypography-h5 {
  color: #000;
}

@media only screen and (max-width: 1000px) {
  .project-section {
    padding: 60px 50px 60px 50px;
  }
}
