.our-mission-section {
    height: 100%;
    background: #ffffff;
    font-family: Roboto;
    font-style: normal;
    padding: 60px 200px 30px 200px;
    overflow: hidden;
}

.our-mission-section .title {
    text-align: left;
    color: #000000;
    font-size: 50px;
    line-height: 88px;
    margin: 0px;
}

.our-mission-section .mission-statement {
    text-align: left;
    color: #000000;
    font-size: 20px;
}

.our-values-section {
    background: #f8f8f8;
    font-family: Roboto;
    font-style: normal;
    padding: 60px 200px 60px 200px;
    overflow: hidden;
}

.our-values-section .title {
    text-align: left;
    color: #000000;
    font-size: 50px;
    line-height: 88px;
    margin: 0px;
}

.value {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.value-info {
    flex: 1 0 200px;
    align-items: center;
}

img {
    max-height: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

img.icon {
    height: 300px;
}

.value-name {
    color: #0078e8;
    font-size: 35px;
    margin-bottom: 5px;
}

.description {
    color: darkgray;
    font-size: 18px;
}

.our-team-section {
    background: #ffffff;
    font-family: Roboto;
    font-style: normal;
    padding: 60px 200px 100px 200px;
    overflow: hidden;
}

.our-values-section .title {
    text-align: left;
    color: #000000;
    font-size: 50px;
    line-height: 88px;
    margin: 0px;
}

.members {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.member-photo {
    height: 0;
    padding-top: 140%;
    min-width: 50px;
}

.MuiPaper-root.MuiCard-root.makeStyles-root-1.MuiPaper-elevation1.MuiPaper-rounded {
    min-width: 12vw;
    min-height: 100%;
    height: auto;
    margin: 1vw;
}

.MuiCardContent-root.makeStyles-card-2 {
    padding-bottom: 5px !important;
}

@media only screen and (max-width: 700px) {
    .member-photo {
        height: 0;
        padding-top: 90%;
    }

    .MuiPaper-root.MuiCard-root.makeStyles-root-1.MuiPaper-elevation1.MuiPaper-rounded {
        min-width: 20vw;
        margin: 1vw;
    }
}

@media only screen and (max-width: 900px) {
    .member-photo {
        height: 0;
        padding-top: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .member-photo {
        height: 0;
        padding-top: 120%;
    }

    .our-team-section {
        height: 100%;
        padding-right: 50px;
        padding-left: 50px;
    }

    .makeStyles-media-2 {
        padding-top: 100%;
    }

    .our-mission-section {
        height: 100%;
        padding: 60px 50px 60px 50px;
    }

    .our-values-section {
        height: 100%;
        padding: 60px 50px 60px 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .member-photo {
        height: 0;
        padding-top: 125%;
    }
}