.contact-form {
  width: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
}

#message {
  height: 100px !important;
}

.text-field {
  left: 50%;
  transform: translateX(-50%);
}
