.header {
  height: 500px;
  background: #0078e8;
  line-height: 100px;
  text-align: center;
  padding: 150px 10px 0px 10px;
}

.header .title {
  text-align: center;
  color: white;
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 88px;
  color: #ffffff;
}

.btn-link {
  color: #ffffff;
}

@media (max-width: 500px) {
  .header {
    padding: 50px 10px 0px 10px;
  }
}
