.home{
  display: flex;
  align-items :center
}

.homeLink img {
  width: 35px;
  height: 35px;
  position: relative;
  margin: 0;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.homeLink img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.home {
  display: flex;
}
.homeLink h1 {
  margin: 0;
  margin-left: 5px;
  color: #fff;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 550;
  font-size: larger;
}
.navbar-nav .nav-link {
  line-height: 0px;
}

.links {
  line-height: 0px;
  padding: 0px;
}

.links .link {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 550;
}

.links .link:hover {
  color: lightgrey;
}

.blueprint-navbar{
  z-index: 100;
  top: 0px;
  position: relative;
  background-color: #0078e8 !important;
  width: 100%;
  padding: 10px 200px;
  justify-content: space-between;
}

.nav-link {
  color: white !important;
  font-family: CeraBold;
  font-size: 15px;
  letter-spacing: 0em;
  margin-right: 20px;
  line-height: 45px;
  text-align: center;
}

.navbar-collapse {
  flex-grow: unset !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
  }
}
