.header-section {
  height: 400px;
  background: #0078e8;
  font-family: Roboto;
  font-style: normal;
  padding: 30px 200px 30px 200px;
  overflow: hidden;
}

.header-section .title {
  text-align: left;
  color: #ffffff;
  font-size: 50px;
  line-height: 88px;
  padding-top: 130px;
  margin: 0px;
}

.header-section .info {
  text-align: left;
  color: #ffffff;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .header-section {
    height: 100%;
    padding: 0 50px 30px 50px  
  }
}